<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="csrf-token" content="{{ csrf_token }}" />
		<title>Dashboard</title>
		<link rel="stylesheet" href="/assets/webshadeApp/css/utils.css" />
		<link rel="stylesheet" href="/assets/webshadeApp/css/style.css" />
		<link rel="stylesheet" href="/assets/webshadeApp/css/dashboard.css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
	</head>
	<body class="main-bg-back">
		<!-- <header class="main-background-color hr-7 w-100 d-flex-center border-bottom px-3 sticky-top z-index-2">
			<span class="text-light fs-5">Dashboard</span>
		</header> -->

		<p class="w-100 text-center my-2 fst-italic text-light">-- Task Information --</p>
		<div id="addition-detail-box" class="d-flex-center flex-column p-3 main-sub-back-white my-1">
			<div class="w-100">
				<div class="w-100 fs-7 d-flex">
					<p class="w-50 mb-0 text-dark text-center">Level Size ></p>
					<p class="w-50 text-dark mb-0 text-center">Commisions ></p>
				</div>
				<div class="w-100 fs-7 d-flex mt-2">
					<p class="w-50 mb-0 text-center main-color"><span>{{total_connected}} </span>Friends</p>
					<p class="w-50 mb-0 text-center main-color">Rs ₹<span>{{total_commision}}.00</span></p>
				</div>
				<hr class="my-1" />
				<div class="d-flex justify-content-between mt-2">
					<p class="fs-8 mb-0">
						<span>CONNECTED</span>
						<br />
						<span class="main-color">{{total_connected}}</span>
					</p>
					<p class="fs-8 mb-0">
						<span>ONLINE</span>
						<br />
						<span class="main-color">{{total_online}}</span>
					</p>
					<p class="fs-8 mb-0">
						<span>OFFLINE</span>
						<br />
						<span class="main-color">{{total_offline}}</span>
					</p>
				</div>
			</div>
		</div>
		<hr />
		<div id="num-list" style="margin-bottom: 4.5rem">
			{% for item in total_connections %}
			<div class="main-sub-back-white d-flex flex-column mb-3 w-95 mx-auto rounded-1">
				<div class="d-flex w-100">
					<div class="w-15 p-2">
						<img src="/assets/webshadeApp/images/webshade-logo.webp" alt="" class="hr-5 rounded-circle" />
					</div>
					<div class="ms-2 fs-7 d-flex flex-column justify-content-center">
						<div class="d-flex align-items-center">
							<span class="mb-0">{{item.whatsapp}}</span>
							<span class="{% if item.status == 'Online' %}online-status {% else %}offline-status{% endif %} text-light px-3 ms-2 fs-9 rounded-5">{{item.status}}</span>
						</div>
						<span class="fs-8 mt-2">Commission: ₹{{item.commission}}.00</span>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<section id="loading-box" class="position-fixed top-0 vh-100 vw-100 d-flex-center z-index-3 d-none" style="background-color: #0000008a">
			<div class="main-background-color w-70 py-3 d-flex-center border flex-column text-light rounded-2">
				<p>Please Wait...</p>
				<div class="loader"></div>
			</div>
		</section>

		<section id="main-spinner" class="vh-100 vw-100 top-0 position-fixed d-flex-center">
			<div style="background-color: rgba(0, 0, 0, 0.597)" class="px-5 py-3 rounded-2">
				<div class="main-spinner"></div>
			</div>
		</section>
		{% include "webshadeApp/footer.html" %}
		<script src="/assets/webshadeApp/js/dashboard.js"></script>
		<script src="/assets/webshadeApp/js/script.js"></script>
	</body>
</html>
