<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="csrf-token" content="{{ csrf_token }}" />
		<title>Profile</title>
		<link rel="stylesheet" href="/assets/webshadeApp/css/utils.css" />
		<link rel="stylesheet" href="/assets/webshadeApp/css/style.css" />
		<link rel="stylesheet" href="/assets/webshadeApp/css/home.css" />
		<link rel="stylesheet" href="/assets/webshadeApp/css/spinner.css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
	</head>
	<body>
		<header class="main-background-color hr-7 w-100 d-flex-center border-bottom">
			<span class="text-light fs-4">Account</span>
		</header>
		<div class="w-100 pb-3">
			<div class="main-sub-back-white py-2 px-3 w-95 mx-auto">
				<div class="d-flex">
					<div class="w-20">
						<img src="/assets/webshadeApp/images/webshade-logo.webp" alt="" class="rounded-circle" style="height: 50px; width: 50px" />
					</div>
					<div class="w-80">
						<span class="main-color"><span>+91</span> <span>{{user_data.phone}}</span></span>
						<br />
						<img src="/assets/webshadeApp/images/vip.webp" alt="" class="hr-3 mt-1 w-auto" />
					</div>
				</div>
				<p class="d-flex align-items-center mt-2 fs-7 text-secondary mb-0"><img src="/assets/webshadeApp/images/id-1.webp" alt="" class="hr-3 me-2" /><span>{{user_data.user_id}}</span></p>
				<p class="d-flex align-items-center mt-1 fs-7 text-secondary mb-0"><img src="/assets/webshadeApp/images/email-1.webp" alt="" class="hr-3 me-2" /><span>{{user_data.email}}</span></p>
			</div>
			<div class="main-sub-back-white px-3 w-95 mx-auto py-2">
				<span class="text-secondary">Balance</span>
				<div class="d-flex align-items-center justify-content-between">
					<p class="w-60 mb-0">₹{{user_data.balance}}.00</p>
					<a href="/withdrawal" class="fs-7 rounded-5 px-2 py-2 text-light main-background-color d-flex-center w-40" onclick="show_spinner()">WITHDRAWAL</a>
				</div>
				<div class="d-flex mt-2">
					<p class="w-50 main-color fs-7 mb-0">₹{{processing_withdrawal_amount}}.00</p>
					<p class="w-50 main-color fs-7 mb-0">₹{{success_withdrawal_amount}}.00</p>
				</div>
				<div class="d-flex mt-2">
					<p class="w-50 fs-8 mb-0">Withdrawal progress</p>
					<p class="w-50 fs-8 mb-0">Withdrawal Success</p>
				</div>
			</div>
			<div class="w-95 mx-auto">
				<a href="/withdrawal-record" class="d-flex main-sub-back-white rounded-5 py-2 px-3 mx-0 w-100 align-items-center" onclick="show_spinner()">
					<i class="fas fa-file-alt main-color w-10"></i>
					<span class="w-80 fs-7">Withdrawal Record</span>
					<i class="fas fa-chevron-right w-10"></i>
				</a>
				<a href="https://wa.me/916900463044?text=Hello%20Sir,%20I%20need%20help.%20My%20User%20ID%20is%20{{user_data.user_id}}.%20I%20am%20a%20user%20of%20WebShade." class="d-flex main-sub-back-white rounded-5 py-2 px-3 mx-0 w-100 align-items-center">
					<i class="fas fa-headset main-color w-10"></i>
					<span class="w-80 fs-7">Help</span>
					<i class="fas fa-chevron-right w-10"></i>
				</a>

				<a href="/logout" class="d-flex-center fs-7 main-color fw-bold main-sub-back-white rounded-5 py-2 px-3 mb-2 w-100" onclick="show_spinner()"> <i class="fa-solid fa-right-from-bracket"></i> LOGOUT </a>
			</div>
		</div>
		<p class="w-100 text-center mb-0 text-light fs-8">version 1.0.0</p>
		<section id="main-spinner" class="vh-100 vw-100 top-0 position-fixed d-flex-center">
			<div style="background-color: rgba(0, 0, 0, 0.597)" class="px-5 py-3 rounded-2">
				<div class="main-spinner"></div>
			</div>
		</section>
		<script>
			window.onload = function () {
				document.getElementById("main-spinner").classList.add("d-none");
			};
			function show_spinner() {
				document.getElementById("main-spinner").classList.remove("d-none");
			}
		</script>
		{% include "webshadeApp/footer.html" %}
	</body>
</html>
