<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="csrf-token" content="{{ csrf_token }}" />
		<title>Document</title>
		<link rel="stylesheet" href="/assets/webshadeApp/css/utils.css" />
		<link rel="stylesheet" href="/assets/webshadeApp/css/style.css" />
		<link rel="stylesheet" href="/assets/webshadeApp/css/home.css" />
		<link rel="stylesheet" href="/assets/webshadeApp/css/withdrawal.css" />
		<link rel="stylesheet" href="/assets/webshadeApp/css/loading.css" />
		<link rel="stylesheet" href="/assets/webshadeApp/css/spinner.css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
	</head>
	<body class="main-bg-back">
		<header class="main-background-color hr-7 w-100 d-flex-center-y justify-content-between border-bottom px-2">
			<a href="/account" onclick="show_spinner()">
				<i class="fas fa-arrow-left text-light" style="font-size: 1.5rem"></i>
			</a>
			<div class="w-90 text-center">
				<span class="text-light fs-4" style="margin-left: -20px">Withdrawal</span>
			</div>
		</header>

		<span class="text-light fs-7 fw-semibold ms-2"> Withdrawal Account </span>
		<div class="main-sub-back-white d-flex-center py-2 mb-3" onclick="show_bank_info_box()">
			<div class="d-flex-center p-2 me-2 rounded-circle" id="bank-icon-box">
				<img src="/assets/webshadeApp/images/bank-icon.webp" alt="" class="hr-4 rounded-circle" />
			</div>
			<div class="w-75">
				<span class="fs-7 main-color">BANK ACCOUNT</span>
				<br />
				{% if bank_data == False %}
				<span class="fs-8">Please add bank account</span>
				{% else %}
				<span class="fs-8"><span>{{bank_data.account_number}}</span> (<span>{{bank_data.holder_name}}</span>)</span>
				{% endif %}
			</div>
			<span><i class="fas fa-chevron-right"></i></span>
		</div>
		<span class="text-light fs-7 fw-semibold ms-2"> Withdrawal Amount </span>
		<div class="main-sub-back-white p-2">
			<div class="d-flex-center justify-content-between">
				<button class="w-30 border-0 main-background-color text-light py-2 fs-5 rounded-2 withdraw-option" onclick="set_withdraw_amount(100,this)">₹110</button>
				<button class="w-30 border-0 main-background-color text-light py-2 fs-5 rounded-2 withdraw-option" onclick="set_withdraw_amount(300,this)">₹330</button>
				<button class="w-30 border-0 main-background-color text-light py-2 fs-5 rounded-2 withdraw-option" onclick="set_withdraw_amount(500,this)">₹550</button>
			</div>
			<div class="d-flex-center justify-content-between my-3">
				<button class="w-30 border-0 main-background-color text-light py-2 fs-5 rounded-2 withdraw-option" onclick="set_withdraw_amount(1000, this)">₹1100</button>
				<button class="w-30 border-0 main-background-color text-light py-2 fs-5 rounded-2 withdraw-option" onclick="set_withdraw_amount(2000, this)">₹2200</button>
				<button class="w-30 border-0 main-background-color text-light py-2 fs-5 rounded-2 withdraw-option" onclick="set_withdraw_amount(5000, this)">₹5500</button>
			</div>
			<span class="text-dark fs-7">ACCOUNT BALANCE:</span>
			<span class="main-color">₹<span id="balance">{{user_data.balance}}</span>.00 </span>
		</div>
		<div class="main-sub-back-white p-2">
			<div class="d-flex-center-y justify-content-between">
				<p class="mb-1 fs-7">Withdrawal amount</p>
				<p class="mb-1 main-color">₹<span id="withdraw-amount">110.00</span></p>
			</div>
			<hr class="my-1" />
			<div class="d-flex-center-y justify-content-between">
				<p class="mb-1 fs-7">Bank service fee <span class="fs-6">10%</span></p>
				<p class="mb-1 main-color">₹<span id="bank-fee">10.00</span></p>
			</div>
			<hr class="my-1" />
			<div class="d-flex-center-y justify-content-between">
				<p class="mb-1 fs-7">Actual amount received</p>
				<p class="mb-1 main-color">₹<span id="actual-amount">100.00</span></p>
			</div>
		</div>
		<div class="px-3 mt-2">
			<button id="withdraw-btn" class="w-100 mx-auto py-2 text-center text-light rounded-5 mt-2 border border-white">Submit</button>
		</div>
		<p class="w-100 text-center fs-8 text-light px-3 mt-3">After applying for withdrawal, the money will be transferred to the account within 72 hours (follow us on Instagram, it can be accelerated to 48 hours). Please wait patiently.</p>
		<section id="bank-info-box" class="vh-100 vw-100 position-absolute top-0 d-none">
			<header class="main-background-color hr-7 w-100 d-flex-center-y justify-content-between border-bottom px-2 mb-3">
				<button class="bg-none border-0" onclick="show_bank_info_box()">
					<i class="fas fa-arrow-left text-light" style="font-size: 1.5rem"></i>
				</button>

				<div class="w-90 text-center">
					<span class="text-light fs-5" style="margin-left: -20px">Bank Account</span>
				</div>
			</header>
			<span class="text-light fw-semibold ms-2"> Withdrawal Account </span>
			<div class="px-2 main-sub-back-white py-2">
				<div class="d-flex align-items-center mt-2">
					<p class="w-30 fs-7 mb-0">Holder</p>
					<input type="text" class="w-70 fs-7 border-0 bg-none outline-0" placeholder="Please enter holder name" value="{{bank_data.holder_name}}" id="holder-name" />
				</div>
				<hr />
				<div class="d-flex align-items-center mt-2">
					<p class="w-30 fs-7 mb-0">Account</p>
					<input type="text" class="w-70 fs-7 border-0 bg-none outline-0" placeholder="Please enter account number" value="{{bank_data.account_number}}" id="account-number" />
				</div>
				<hr />
				<div class="d-flex align-items-center mt-2">
					<p class="w-30 fs-7 mb-0">IFSC</p>
					<input type="text" class="w-70 fs-7 border-0 bg-none outline-0 text-uppercase" autocapitalize="true" placeholder="ifsc code" value="{{bank_data.ifsc_code}}" id="ifsc-code" />
				</div>
				<hr />
				<p class="main-color mb-0 text-center w-100 fs-7 mt-3">-- Warning --</p>
				<p class="mb-0 fs-8 px-3 text-center mt-2">Please do not use this bank (IFSC Code: IPOS0000001) as the withdrawal account, because the platform does not support this bank</p>
			</div>
			<div class="w-95 mx-auto">
				<button class="w-100 border border-white rounded-5 text-light mx-auto main-background-color py-3 fs-7 mt-4" id="submit-btn">Submit</button>
			</div>
			<div class="w-90 mx-auto">
				<p class="w-100 text-center mb-0 main-color fs-5 mt-3 text-light">Notes</p>
				<br />
				<span class="text-light fs-8">1. Please fill the above information correctly.</span>
				<br />
				<span class="text-light fs-8">2. definately check ifsc code.</span>
			</div>
		</section>
		<section id="main-spinner" class="vh-100 vw-100 top-0 position-fixed d-flex-center">
			<div style="background-color: rgba(0, 0, 0, 0.597)" class="px-5 py-3 rounded-2">
				<div class="main-spinner"></div>
			</div>
		</section>
		<section id="message-box" class="vw-100 fixed-top py-4 d-flex-center d-none vh-100 blur-background">
			<div id="toast-message" class="mb-0 rounded-1 px-3 py-2 text-light d-flex px-2">
				<div class="d-flex-center">
					<i class="fas fa-times-circle me-2 fs-4"></i>
				</div>
				<div>
					<p class="mb-0 fs-7 fw-bold" id="toast-type">Error</p>
					<p class="mb-0 fs-8" id="toast-message-text">{{message}}</p>
				</div>
			</div>
		</section>
		<script>
			window.onload = function () {
				document.getElementById("main-spinner").classList.add("d-none");
			};
		</script>
		<script src="/assets/webshadeApp/js/withdraw.js"></script>
		<script src="/assets/webshadeApp/js/script.js"></script>
	</body>
</html>
